@use "../../scss/partials/queries";

.card {
  display: flex;
  flex-direction: row;
  border-right: 1px solid black;
  border-top: 1px solid black;
  width: 100%;
  transition: opacity 1s ease-in-out;
  @include queries.small {
    flex-direction: column;
  }
}

.link {
  font-size: 14px;
  transition: 0.3s ease-in-out;
  font-family: "Grotesk-Bold";
}

.title {
  font-family: "Grotesk";
  font-size: 28px;
  @include queries.small {
    font-size: 18px;
  }
}
.text {
  font-size: 14px;
  @include queries.small {
    font-size: 13px;
  }
}

.desc {
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  gap: 0.5em;
  @include queries.small {
    border-left: 0;
  }
}

.imageContainer {
  width: 25%;
  @include queries.small {
    width: 100%;
    border-bottom: 1px solid black;
  }
}

.image {
  width: 90%;
  padding-left: 10%;
  @include queries.small {
    width: 100%;
    padding-left: 0;
  }
}

.button {
  font-size: 14px;
  color: var(--c-hl);
  transition: 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    text-decoration: line-through;
  }
}
