@use "../../scss/partials/queries";

.title {
  font-family: "Grotesk";
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
  border-right: 1px solid black;
  padding-top: 2%;
  padding-bottom: 2%;
  @include queries.small {
    padding: 2%;
  }
}

.arrows {
  display: flex;
  gap: 1.5em;
  padding-right: 1.8em;
  @include queries.small {
    padding-right: 1em;
    gap: 1em;
  }
  &_btn {
    font-size: 28px;
    transition: 0.2s ease-in-out;
    @include queries.small {
      font-size: 20px;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.dots {
  display: flex;
  gap: 1em;
  font-size: 20px;
  @include queries.small {
    gap: 0.7em;
    font-size: 16px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
}
