@use "../../scss/partials/queries";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  &_box {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--c-txt);
    @include queries.small {
      flex-direction: column-reverse;
    }
  }
  &_box2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    border-bottom: 1px solid var(--c-txt);
    @include queries.small {
      flex-direction: column-reverse;
    }
  }
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  border-right: 1px solid var(--c-txt);
  padding: 0.5%;
  @include queries.small {
    width: 100%;
    height: 4em;
    justify-content: center;
    width: 100%;
    padding: 2%;
  }
  &_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_title {
      font-size: 24px;
      font-family: "Grotesk-Bold";
      @include queries.small {
        font-size: 20px;
      }
    }
  }
  &_imageBox {
    width: 50%;
    border-right: 1px solid var(--c-txt);
    overflow: hidden;
    @include queries.small {
      height: 100%;
      width: 100%;
    }
  }
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 1s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
  @include queries.small {
    height: auto;
    border-bottom: 1px solid var(--c-txt);
  }
}

.title {
  font-family: "Grotesk";
  font-size: 16px;
  @include queries.small {
    display: none;
  }
}

.link {
  font-size: 14px;
  border-bottom: 1px solid black;
  transition: 0.3s ease-in-out;
  &:hover {
    color: var(--c-hl);
    border-bottom: 1px solid var(--c-hl);
  }
}
